body,
html {
    width: 100%;
    height: 100%;
    
}
body,
h1,
h2,
h3,
p{
	font-family:  monospace,Helvetica,Arial,sans-serif;
    font-weight: 700;
    
}


body{
	background-image: url("http://goo.gl/TdE8hb");
	background-repeat: no-repeat;
}


.about-section{
	background-color: #A9A9A9;
	color: #000;
}
.intro-name{
	color: white;
}
.btn{
	background-color: black;
	color: white;
}
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}
.intro-header{
	background-image: url("http://goo.gl/TdE8hb");
	height: 600px;
	max-width: 100%;
	margin-top:auto;
	padding-top: 50px;
	padding-bottom: 50px;
	background-size: cover;
	text-align: center;
}
.my-works{
	background-color: #2F4F4F;
}
h4{
	color: #FFFAF0;
}
.img{
	padding-bottom: 20px;
}
.connect{
	color: #F8F8F8;
}